/* Various changes */
.no-margin{
    margin: 0;
}
/* Stuff for all pages */
body{
    background: #d7cec7;
}
#modal-backbround{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #333333;
    opacity: .5;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}



/* Login Page */
.login-header{
    margin-top: 15%;
}
#login-container{
    margin-top: 15%;
}
.token-fail{
    color: #ff0000;
}
@supports(display: grid){
    #login-container{
        display: grid;
        grid-template-columns: 1fr minmax(300px, 4fr) 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        ". text ."
        "icon input submit"
    }

    .login-text{
        grid-area: text;
    }
    .icon-key{
        grid-area: icon;
        margin: 0 auto;
    }
    input[name="token"]{
        grid-area: input;        
    }
    input[name="submit"]{
        margin: 0 1em;
        grid-area: submit;
    }
}

/* Admin page */
