/* Various changes */
.no-margin{
    margin: 0;
}
/* Stuff for all pages */
body{
    background: #d7cec7;
}
#modal-backbround{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background: #333333;
    opacity: .5;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}



/* Login Page */
.login-header{
    margin-top: 15%;
}
#login-container{
    margin-top: 15%;
}
.token-fail{
    color: #ff0000;
}
@supports(display: grid){
    #login-container{
        display: grid;
        grid-template-columns: 1fr minmax(300px, 4fr) 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        ". text ."
        "icon input ."
        ". fail ."
        ". submit ."
    }

    .login-text{
        grid-area: text;
        justify-self: center;

    }
    .icon-key{
        grid-area: icon;
        margin: 0 auto;
    }
    .token-fail{
        grid-area: fail;
    }
    input[name="token"]{
        grid-area: input;        
    }
    button[name="submit"]{
        margin: 0;
        grid-area: submit;
    }
    button[name="submit"]:after{
        content: test;
    }
    
    /* Overrides for devices with widths larger than 550px */
    @media (min-width: 550px) {
        #login-container{
            grid-template-columns: 1fr minmax(300px, 4fr) 1fr;
            grid-template-rows: auto;
            grid-template-areas: 
            ". text ."
            "icon input submit"
            ". fail ."
        }
        button[name="submit"]{
            margin: 0 1em;
        }
    }
}

/* Main page */

#main-content{
    margin: 0 10%;
    max-height: 80vh;
    max-width: 80vw;
}
#admin-buttons{
    width: 100%;
}
#venue-map{
    max-width:75vw;
    max-height:75vh;
    width: auto;
    height: auto;
}
#cancel-move-button{
    display: none;
}

@supports(display: grid){

    #main-content{
        max-height: 100vh;
        max-width: 100vw;
        margin: 0;
        display: grid;
        grid-template-columns: 1fr minmax(350px, 4fr) 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
        ". buttons ."
        ". map ."
        "logout . ."
    }
    #admin-buttons{
            grid-area: buttons;
            display: grid;
            column-gap: 2em;
            /* grid-template-columns: repeat(auto-fit, 1fr) repeat(auto-fit, 1fr); */
                     
        }
    #venue-map{
        display: block;
        max-width:100%;
        max-height:100vh;
        margin: 0 auto;
        z-index: 10;
    }
    #map-container{
        grid-area: map;
        max-height: var(--imageHeight);
        overflow: hidden;
    }
    .logout{
        grid-area: logout;
    }
    @media (min-width: 550px) {
        #admin-buttons{
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
        }
    }
    #device-grid-container{
        display: grid;
        grid-area: map;
        grid-template-rows: repeat(var(--rows), minmax(10%,calc(var(--imageHeight) / var(--rows))));
        grid-template-columns: repeat(var(--cols), auto);
        z-index: 20;
        max-width: var(--imageWidth);
        max-height: var(--imageHeight);
        position: relative;
        top: -100%;
        margin: 0 auto;
    }
    .device-grid-cell{
        height: 100%;
        width: 100%;
        border-bottom: 0px solid #000000;
        border-right: 0px solid #000000;
    }
    .device{
        height: 100%;
        width: 100%;
        border-radius: var(--imageHeight);
        background-color: #ff0000;
        z-index: 25;
    }
    .selectable-device{
        background-color: #55f324;
        border: 1px solid #ff0000;
    }
    .selectable-cell{
        background-color: #53ff3171;
    }
}